Dating/Service References/ServiceReference1/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf" />
  <xs:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="showWall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showWallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="showWallResult" nillable="true" type="q1:ArrayOfInlagg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveInlagg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q2:Inlagg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveInlaggResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="getPictureResult" nillable="true" type="q3:ArrayOfProfilBild" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfilePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfilePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProfilePictureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="savePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="savePictureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q4:Meddelande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="getMailsResult" nillable="true" type="q5:ArrayOfMeddelande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setIsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setIsReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="a" nillable="true" type="q6:Anvandare" />
        <xs:element minOccurs="0" name="currenUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="savePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fnamn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enamn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Alder" type="xs:int" />
        <xs:element minOccurs="0" name="ort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="savePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="getPersonResult" nillable="true" type="q7:Anvandare" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kontaktUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getKontakter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKontakterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="getKontakterResult" nillable="true" type="q8:ArrayOfKontakter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyKontakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kontaktUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyKontaktResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteKontakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kontaktUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteKontaktResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPreviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPreviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="getPreviewsResult" nillable="true" type="q9:ArrayOfProfilBild" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfileNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfileNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getProfileNamesResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>