Dating/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf" />
      <xsd:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:49966/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_showWall_InputMessage">
    <wsdl:part name="parameters" element="tns:showWall" />
  </wsdl:message>
  <wsdl:message name="IService1_showWall_OutputMessage">
    <wsdl:part name="parameters" element="tns:showWallResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_saveInlagg_InputMessage">
    <wsdl:part name="parameters" element="tns:saveInlagg" />
  </wsdl:message>
  <wsdl:message name="IService1_saveInlagg_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveInlaggResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:getPicture" />
  </wsdl:message>
  <wsdl:message name="IService1_getPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IService1_getProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_savePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:savePicture" />
  </wsdl:message>
  <wsdl:message name="IService1_savePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:savePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMail" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMails_InputMessage">
    <wsdl:part name="parameters" element="tns:getMails" />
  </wsdl:message>
  <wsdl:message name="IService1_getMails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteMail_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteMail" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setIsRead_InputMessage">
    <wsdl:part name="parameters" element="tns:setIsRead" />
  </wsdl:message>
  <wsdl:message name="IService1_setIsRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:setIsReadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePerson" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_savePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:savePerson" />
  </wsdl:message>
  <wsdl:message name="IService1_savePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:savePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:getPerson" />
  </wsdl:message>
  <wsdl:message name="IService1_getPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:addFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_addFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getKontakter_InputMessage">
    <wsdl:part name="parameters" element="tns:getKontakter" />
  </wsdl:message>
  <wsdl:message name="IService1_getKontakter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getKontakterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modifyKontakt_InputMessage">
    <wsdl:part name="parameters" element="tns:modifyKontakt" />
  </wsdl:message>
  <wsdl:message name="IService1_modifyKontakt_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifyKontaktResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteKontakt_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteKontakt" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteKontakt_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteKontaktResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPreviews_InputMessage">
    <wsdl:part name="parameters" element="tns:getPreviews" />
  </wsdl:message>
  <wsdl:message name="IService1_getPreviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPreviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProfileNames_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfileNames" />
  </wsdl:message>
  <wsdl:message name="IService1_getProfileNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfileNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="showWall">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showWall" message="tns:IService1_showWall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showWallResponse" message="tns:IService1_showWall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveInlagg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saveInlagg" message="tns:IService1_saveInlagg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saveInlaggResponse" message="tns:IService1_saveInlagg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPicture" message="tns:IService1_getPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPictureResponse" message="tns:IService1_getPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProfilePicture" message="tns:IService1_getProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProfilePictureResponse" message="tns:IService1_getProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="savePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/savePicture" message="tns:IService1_savePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/savePictureResponse" message="tns:IService1_savePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sendMail" message="tns:IService1_sendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sendMailResponse" message="tns:IService1_sendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMails" message="tns:IService1_getMails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMailsResponse" message="tns:IService1_getMails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteMail" message="tns:IService1_deleteMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteMailResponse" message="tns:IService1_deleteMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setIsRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setIsRead" message="tns:IService1_setIsRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setIsReadResponse" message="tns:IService1_setIsRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePerson" message="tns:IService1_updatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePersonResponse" message="tns:IService1_updatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="savePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/savePerson" message="tns:IService1_savePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/savePersonResponse" message="tns:IService1_savePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPerson" message="tns:IService1_getPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPersonResponse" message="tns:IService1_getPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addFriendRequest" message="tns:IService1_addFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addFriendRequestResponse" message="tns:IService1_addFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteFriendRequest" message="tns:IService1_deleteFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteFriendRequestResponse" message="tns:IService1_deleteFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getKontakter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getKontakter" message="tns:IService1_getKontakter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getKontakterResponse" message="tns:IService1_getKontakter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifyKontakt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modifyKontakt" message="tns:IService1_modifyKontakt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modifyKontaktResponse" message="tns:IService1_modifyKontakt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteKontakt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteKontakt" message="tns:IService1_deleteKontakt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteKontaktResponse" message="tns:IService1_deleteKontakt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPreviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPreviews" message="tns:IService1_getPreviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPreviewsResponse" message="tns:IService1_getPreviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfileNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProfileNames" message="tns:IService1_getProfileNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProfileNamesResponse" message="tns:IService1_getProfileNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="showWall">
      <soap:operation soapAction="http://tempuri.org/IService1/showWall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveInlagg">
      <soap:operation soapAction="http://tempuri.org/IService1/saveInlagg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPicture">
      <soap:operation soapAction="http://tempuri.org/IService1/getPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IService1/getProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="savePicture">
      <soap:operation soapAction="http://tempuri.org/IService1/savePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap:operation soapAction="http://tempuri.org/IService1/sendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMails">
      <soap:operation soapAction="http://tempuri.org/IService1/getMails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMail">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setIsRead">
      <soap:operation soapAction="http://tempuri.org/IService1/setIsRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="savePerson">
      <soap:operation soapAction="http://tempuri.org/IService1/savePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="http://tempuri.org/IService1/getPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFriendRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/addFriendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFriendRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteFriendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKontakter">
      <soap:operation soapAction="http://tempuri.org/IService1/getKontakter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyKontakt">
      <soap:operation soapAction="http://tempuri.org/IService1/modifyKontakt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteKontakt">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteKontakt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreviews">
      <soap:operation soapAction="http://tempuri.org/IService1/getPreviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfileNames">
      <soap:operation soapAction="http://tempuri.org/IService1/getProfileNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49966/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>